@model Inventories.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add City", "AddCity", new {id = Model.DepartmentID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
<h5>Cities</h5>
@if(Model.Cities.Count==0)
{
    <h6>No se encuentran ciudades registradas</h6>
}
else
{
    <table class="table table-striped">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Cities)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCity", new { id = item.CityID },new { @class = "btn btn-success"}) |                  
                    @Html.ActionLink("Delete", "DeleteCity", new { id = item.CityID }, new {@class = "btn btn-warning" })
                </td>
            </tr>
        }

    </table>
}